<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="user01" class="com.syl.ioc.setter_injection.User">


        <!--set注入-->
        <property name="food" ref="food" ></property>
        <property name="userId" value="001"></property>
        <property name="userName" value="宋永利" ></property>
    </bean>
    <bean name="food" class="com.syl.ioc.setter_injection.Food">
        <property name="foodId" value="001"></property>
        <property name="foodName" value="炸酱面"></property>
    </bean>
</beans>