<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="user" class="com.syl.ioc.constructor_injection.list.User">
        <!--构造方法注入-->
        <!--要通过构造方法注入方式，为当前业务对象注入其所依赖的对象，
            需要使用 <constructor-arg>  -->
        <constructor-arg index="0"  value="001"></constructor-arg>
        <constructor-arg index="1"   value="syl"></constructor-arg>
        <constructor-arg index="2" ref="food"></constructor-arg>
    </bean>
    <bean name="food" class="com.syl.ioc.constructor_injection.list.Food">
        <constructor-arg name="foodId" >
            <!--list属性可以做很多好玩的事-->
            <list>
                <value>001</value>
                <value>002</value>
            </list>
        </constructor-arg>
        <constructor-arg name="foodName" >
            <list>
                <value>炸酱面</value>
                <value>饺子</value>
            </list>
        </constructor-arg>
    </bean>
</beans>